player-connection-mode=Listen
player-connection-guid=3185745114
player-connection-debug=0
player-connection-project-name=OCTxT
player-connection-ip=192.168.6.110
player-connection-ip=172.23.226.89
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=1
gc-max-time-slice=3
build-guid=fa3d44c66bf84b53af5bd74885f514a4
